button.w3-btn.days
{
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

div.w3-btn-group
{
    margin-left: 10%;
}

#search-box-button
{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

#search-box-input
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}